@media all and (max-width:375px){
    :root{
        font-size: 7px;
    }
    .container{
        width:90%;
    }
    br{
        display: none;
    }
    .cards{
        height:auto;
    }
    .card{
        height: 200px;
        margin:0 0 20px 0 ;
        position: static;
        width: 100%;
    }
    svg{
        top:25px;
    }
}